/* adminpanel.css */

.admin-panel__sidebar-container {
  width: 240px;
  position: fixed;
  top: 80px; /* Adjust the top position to start below the main navbar */
  left: 0;
  bottom: 0; /* Ensure the sidebar stretches to the bottom of the screen */
  background-color: #273746;
  z-index: 1;
  overflow-y: auto;
}

.admin-panel__sidebar {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow-y: auto; /* Enable scrolling if content exceeds height */
}

.admin-panel__sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.admin-panel__sidebar li {
  padding: 15px 20px; /* Increase padding for better spacing */
  cursor: pointer;
  color: #ffffff; /* Text color */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.admin-panel__sidebar li:hover {
  background-color: #34495e; /* Hover background color */
}

.admin-panel__sidebar li span {
  margin-left: 15px; /* Adjust spacing between icon and text */
}

.admin-panel__data-box-container {
  margin-left: 240px; /* Instead of padding, use margin to push content to the right of the sidebar */
  padding: 20px; /* Add some padding for better spacing */
  overflow-y: auto;
}
