.otp-verification-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.outer-otp-container {
    background-color: #f0f0f0; /* Kulay ng likod ng outer box */
    border: 2px solid #ccc; /* Bordes ng outer box */
    border-radius: 15px; /* Radius ng gilid ng outer box */
    padding: 20px; /* Pahilis na espasyo ng outer box */
}

.otp-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espasyo sa pagitan ng outer at inner box */
}

.otp-input {
    width: 40px;
    height: 50px;
    margin: 0 5px;
    text-align: center;
    border: none;
    border-radius: 8px; /* Radius ng gilid ng inner box */
    font-size: 18px;
}

.otp-text {
    margin-bottom: 10px; /* Espasyo sa pagitan ng "OTP Verification" at "Enter OTP" */
}
