.Vvideo-container {
    display: flex;
  }
  
  .Vvideo-container {
    position: relative;
    overflow: hidden;
    width: 60%;
  }
  
  .Vvideo-container video {
    width: 100%;
  }
  
  .Vvideo-cut {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    border: 2px solid white;
  }
  
  .Vquestion-container {
    width: 40%;
    padding: 0 20px;
  }
  